* {
  font-family: "Verdana", cursive, sans-serif;
}
body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background-color: #252d4a;
  height: 50vh;
  max-height: 600px;
  width: 60vw;
  max-width: 800px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

/* ------------------START------------------- */

.button {
  background: rgb(131, 5, 189);
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: 300;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
}
.startBox {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.startButton {
  background: rgb(131, 5, 189);
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: 300;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
}
.timeInput {
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: center;
}
.timeInput::-webkit-inner-spin-button,
.timeInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ----------------------------------QUESTION----------------------- */

.questionBox {
  position: relative;
  height: 100%;
  color: white;
}
.questionBox .questionHead {
  display: flex;
  justify-content: space-between;
}
.middleBox {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "question option";
}
.questionTitle {
  grid-area: question;
}
.questionTitle p {
  font-size: 20px;
}
.option {
  grid-area: option;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}
.option .text {
  width: 80%;
  font-size: 16px;
  border-radius: 15px;
  padding: 5px;
  border: 5px solid #234668;
  cursor: pointer;
  margin-bottom: 8px;
}
.option .text:hover {
  background: #234668;
}
.option .text input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.selected {
  background: rgb(131, 5, 189);
  width: 80%;
  font-size: 16px;
  border-radius: 15px;
  padding: 5px;
  border: 5px solid #234668;
  cursor: pointer;
  margin-bottom: 8px;
}
.option .selected input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.questionBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.nextBtn {
  float: right;
}

/* -------------------END----------------------- */

.endBox {
  margin-top: 3rem;
  align-items: center;
  text-align: center;
  color: white;
}
.trophy {
  height: 50px;
}

/* --------------------ADMIN-home page--------------- */

.main {
  min-height: 70vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: white;
  border-color: white;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* --------------------ADMIN-list all questions page--------------- */

.listQuestions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question {
  background-color: aqua;
  margin: 2rem;
}

.options h4 {
  margin-left: 3rem;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btns button {
  margin-left: 2rem;
}

.btnDelete {
  background-color: red;
  color: white;
  border-color: red;
  height: 2rem;
  width: 4rem;
}

.btnEdit {
  background-color: green;
  color: white;
  border-color: green;
  height: 2rem;
  width: 4rem;
}
